<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="S7_DataLogging_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <S7_DataLogging_Manager.My.MySettings>
            <setting name="LastRack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastSlot" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LastMember" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="LastConnectiontyp" serializeAs="String">
                <value>Snap 7</value>
            </setting>
            <setting name="MemberList" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="TryReconnectAmount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AutoSamplingRate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Rack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Slot" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SymbolInput" serializeAs="String">
                <value />
            </setting>
            <setting name="LogOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="LoggingTyp" serializeAs="String">
                <value />
            </setting>
            <setting name="RecordingNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="CyklusTime" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="CyklusPause" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TAutoActualLoadEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </S7_DataLogging_Manager.My.MySettings>
    </userSettings>
</configuration>